:root {
  --hdr-bg-color: #c6ebb2;
  --hdr-text-color: #262528;
  --delete-btn-color: #fc0100;
  --icon-logo-col: #8c03d5;
}
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

span {
  font-size: 2rem;
}

button {
  font-size: 2rem;
  border: none;
  background-color: inherit;
}

button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
/**
  PAGE MAIN HEADER
**/
.hdr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--hdr-bg-color);
  padding: 1rem 0;
}

.hdr-logo {
  margin-left: 3rem;
}
#hdr-main {
  font-size: 3rem;
}

#hdr-text {
  font-size: 2rem;
}

span.icon {
}
span.icon > i {
  font-size: 5rem;
  color: var(--icon-logo-col);
}
span.icon i.fa-pencil {
  transform: rotate(315deg);
  margin-left: -1.5rem;
}

/**
  MAIN
**/

/*** LEFT **/
section.main {
  width: 50%;
  margin: 10rem auto 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.left-nav > li {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

ul.left-nav > li i {
  font-size: 2rem;
}

ul.left-nav > li span {
  font-size: 1.6rem;
  margin-left: 0.4rem;
}

/**RIGHT**/
#right {
  padding: 1rem 2rem;
  background-color: aquamarine;
  margin-left: 15rem;
}

#task-form {
}

#tasks {
  width: 100%;
  padding: 2rem;
  background-color: lightgray;
  margin-top: 1rem;
  border-radius: 1.5rem;
}

#tasks-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

#tasks-list > li {
  margin-bottom: 1rem;
}
.tasks-list span {
  padding: 0.8rem 0.5rem;
  font-size: 3.5rem;
}
label.task-item {
  padding: 0.8rem 0.5rem;
  font-size: 3.5rem;
}

.form-el {
  display: flex;
  justify-content: center;
}

#addtaskbtn > i {
  font-size: 3rem;
}

input#task-name {
  font-size: 2rem;
}

.task-icon > i {
  font-size: 1.5rem;
}

/**
  * tasks header
  **/
div#tasks-hdr {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}

/**
  * tasks footer
  **/
.task-footer {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}


/* utiility classes**/
li.task-completed{
  background-color: green !important;
  color: white;
}